# Google Sheets Configuration
GOOGLE_CREDENTIALS=
SHEET_ID=

# WhatsApp API Configuration
WHATSAPP_PHONE_ID=
WHATSAPP_TOKEN=

# Razorpay Configuration (Test Mode)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
VITE_RAZORPAY_KEY_ID=
